<configuration>

	<property name="LOG_DIR" value="./log" />
	<property name="PATTERN" value="%date %level [%thread] %logger{10} %msg%n" />
	<property name="FIX_MSG_PATTERN" value="%date %msg%n" />
	<property name="MAX_HISTORY" value="30" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="APP_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="PRICE_ASYNC_FIX_EVENT_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/price-event.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/price-event.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="PRICE_ASYNC_FIX_MESSAGE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/price-message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/price-message.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${FIX_MSG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ORDER_ASYNC_FIX_EVENT_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/order-event.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/order-event.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="ORDER_ASYNC_FIX_MESSAGE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/order-message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/order-message.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${FIX_MSG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="APP" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="APP_FILE" />
	</appender>

	<appender name="PRICE_ASYNC_FIX_EVENT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="PRICE_ASYNC_FIX_EVENT_FILE" />
	</appender>

	<appender name="PRICE_ASYNC_FIX_MESSAGE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="PRICE_ASYNC_FIX_MESSAGE_FILE" />
	</appender>

	<logger name="quickfixj.event.price" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="PRICE_ASYNC_FIX_EVENT" />
	</logger>

	<logger name="quickfixj.errorevent.price" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="PRICE_ASYNC_FIX_EVENT" />
	</logger>

	<logger name="quickfixj.msg.incoming.price" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="PRICE_ASYNC_FIX_MESSAGE" />
	</logger>

	<logger name="quickfixj.msg.outgoing.price" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="PRICE_ASYNC_FIX_MESSAGE" />
	</logger>

	<appender name="ORDER_ASYNC_FIX_EVENT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ORDER_ASYNC_FIX_EVENT_FILE" />
	</appender>

	<appender name="ORDER_ASYNC_FIX_MESSAGE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ORDER_ASYNC_FIX_MESSAGE_FILE" />
	</appender>

	<logger name="quickfixj.event.order" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="ORDER_ASYNC_FIX_EVENT" />
	</logger>

	<logger name="quickfixj.errorevent.order" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="ORDER_ASYNC_FIX_EVENT" />
	</logger>

	<logger name="quickfixj.msg.incoming.order" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="ORDER_ASYNC_FIX_MESSAGE" />
	</logger>

	<logger name="quickfixj.msg.outgoing.order" class="ch.qos.logback.classic.AsyncAppender"
		additivity="false">
		<appender-ref ref="ORDER_ASYNC_FIX_MESSAGE" />
	</logger>

	<springProfile name="hon">
		<root level="info">
			<appender-ref ref="APP" />
		</root>
	</springProfile>

	<springProfile name="demo">
		<logger name="jp.yamato373" level="debug" />
		<root level="info">
			<appender-ref ref="APP" />
		</root>
	</springProfile>

	<springProfile name="local">
		<logger name="jp.yamato373" level="debug" />
		<root level="info">
			<appender-ref ref="APP" />
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

</configuration>