<configuration>

	<property name="LOG_DIR" value="./log" />

	<appender name="APP-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FIX-PRICE-MESSAGE-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/fix-price-message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/fix-price-message.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FIX-ORDER-MESSAGE-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/fix-order-message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/fix-order-message.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FIX-PRICE-EVENT-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/fix-price-event.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/fix-price-event.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FIX-ORDER-EVENT-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/fix-order-event.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_DIR}/fix-order-event.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="jp.yamato373" level="DEBUG" />

	<logger name="quickfixj.price.incoming" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-PRICE-MESSAGE-FILE"/>
    </logger>

    <logger name="quickfixj.order.incoming" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-ORDER-MESSAGE-FILE"/>
    </logger>

    <logger name="quickfixj.price.outgoing" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-PRICE-MESSAGE-FILE"/>
    </logger>

    <logger name="quickfixj.order.outgoing" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-ORDER-MESSAGE-FILE"/>
    </logger>

    <logger name="quickfixj.price.event" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-PRICE-EVENT-FILE"/>
    </logger>

    <logger name="quickfixj.order.event" level="DEBUG" additivity="false">
        <appender-ref ref="FIX-ORDER-EVENT-FILE"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="APP-FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>